# Exercise - NAND-CIRC-IF
---
**Name:** Jason Duong

In [76]:
# The Setup
# Reference: Book's Code - https://github.com/boazbk/tcscode

counter = 0

def NAND(a, b):
    global counter
    counter += 1
    v = f't{counter}'
    print(f'{v} = NAND({a}, {b})')
    return v
    # return 0 if a == b == 1 else 1

def NOT(a):
    return NAND(a, a)

def AND(a, b):
    t1 = NAND(a, b)
    return NOT(t1)

def OR(a, b):
    t1 = NOT(a)
    t2 = NOT(b)
    return NAND(t1, t2)

In [77]:
# QUESTION #1: EXERCISE 4.4 Part 1 - "Proof by Code": de-sugar the conditional statement

counter = 0

def IF(cond, b, c):
    """return cond ? b : c"""
    notcond = NAND(cond, cond)
    t1 = NAND(c, notcond)      # check if condition = False
    t2 = NAND(b, cond)         # check if condition = True
    return NAND(t1, t2)

def COND(a, b, c):
    return IF(a, b, c)

COND(1, 1, 0)

t1 = NAND(1, 1)
t2 = NAND(0, t1)
t3 = NAND(1, 1)
t4 = NAND(t2, t3)

't4'

In [78]:
# QUESTION #2 - LOOKUP1 Implementation

counter = 0

def LOOKUP1(a, b, c):
    """return c ? b : a"""  
    return COND(c, b, a)

LOOKUP1(0, 1, 0)

t1 = NAND(0, 0)
t2 = NAND(0, t1)
t3 = NAND(1, 0)
t4 = NAND(t2, t3)

't4'

In [80]:
# QUESTION #3 - LOOKUP2 Implementation

counter = 0

def LOOKUP2(a, b, c, d, e, f):
    """ return a ? (e, f) == (0, 0) :
               b ? (e, f) == (0, 1) :
               c ? (e, f) == (1, 0) : d
    """
    t1 = LOOKUP1(c, d, f)
    t2 = LOOKUP1(a, b, f)
    return IF(e, t1, t2)

LOOKUP2(0, 1, 1, 0, 1, 1)

t1 = NAND(1, 1)
t2 = NAND(1, t1)
t3 = NAND(0, 1)
t4 = NAND(t2, t3)
t5 = NAND(1, 1)
t6 = NAND(0, t5)
t7 = NAND(1, 1)
t8 = NAND(t6, t7)
t9 = NAND(1, 1)
t10 = NAND(t8, t9)
t11 = NAND(t4, 1)
t12 = NAND(t10, t11)

't12'

In [51]:
# QUESTION #4 - Straight-Line Program w/ only NAND-STATEMENTS

counter = 0

def LOOKUP2(a, b, c, d, e, f):
    t1 = NAND(f, f)
    t2 = NAND(c, t1)
    t3 = NAND(d, f)
    t4 = NAND(t2, t3)
    t5 = NAND(f, f)
    t6 = NAND(a, t5)
    t7 = NAND(b, f)
    t8 = NAND(t6, t7)
    t9 = NAND(e, e)
    t10 = NAND(t8, t9)
    t11 = NAND(t4, e)
    t12 = NAND(t10, t11)